<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Propos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    dicjijcidjcidjcijdicdjcidjidjidj
                </div>
                <div class="col-sm-5">
                    <div class="team-member">
                        <p class="text-muted">Le bois : contreplaqué en bouleau de 18mm d'épaisseur, constitué de 13 plis. Je l'ai choisi pour ses très bonnes résistances mécaniques(voir page 1) ainsi que son essence (plus écologique que certains bois exotiques importés).</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5">
                    <div class="team-member">
                        <p class="text-muted">L'assemblage : les facettes des modules sont vissées/collées. Vis torx utilisées, diamètre 4,5mm entre 30 et 45mm de long suivant la position du vissage.</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    dicjijcidjcidjcijdicdjcidjidjidj
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-5">
                    dicjijcidjcidjcijdicdjcidjidjidj
                </div>
                <div class="col-sm-5">
                    <div class="team-member">
                        <p class="text-muted">Les rondelles : pour éviter que les vis de fixation contre votre mur ne traversent le module pendant l'ouverture, tous les modules sont équipés de rondelles de renfort.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
