<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Propos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/about/bois.jpg" class="img-responsive img-circle" alt="bois">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <p class="text-muted" style="margin-top: 65px;"><strong>Le bois</strong> : contreplaqué 18mm d'épaisseur, constitué de 13 plis. Je l'ai choisi pour ses <a href="http://whysy.github.io/img/about/contreplaques.pdf" target="_blank">très bonnes résistances mécaniques</a> et pour son essence, le bouleau (plus écologique que certains bois exotiques importés).</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <p class="text-muted" style="margin-top: 65px;"><strong>L'assemblage</strong> : les facettes des modules sont collées/vissées. J'utilise des vis Torx, diamètre 4,5mm entre 30 et 45mm de long suivant la position du vissage.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                   <div class="team-member">
                        <img src="img/about/vis.jpg" class="img-responsive img-circle" alt="vis">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/about/rondelle.JPG" class="img-responsive img-circle" alt="rondelle">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <p class="text-muted" style="margin-top: 65px;"><strong>Les rondelles</strong> : Tous les modules sont équipés de rondelles de renfort pour éviter que les vis de fixation contre votre mur ne traversent le module pendant l'ouverture.</p>
                    </div>
                </div>
            </div>
            
            <div class="row caution">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"><strong>Attention !</strong></p>
                    <br />
                    <p class="large text-muted"><strong>Pour garantir</strong> la sécurité des utilisateurs ainsi que la durée de vie des modules, <strong>il est important</strong> :</p>
                    <br />
                    <p class="large text-muted">
                        <ul style="text-align:left;list-style:none;">
                            <li>- De visser les modules dans du contreplaqué de 18mm d'épaisseur minimum</li>
                            <li>- De visser les modules sur une surface plane</li>
                            <li>- D'utiliser toutes les vis prévues pour une bonne fixation (∅5mm, longueur 50mm minimum) </li>
                            <li>- De serrer les vis à 5 N/m minimum et 6 N/m maximum</li>
                            <li>- De ne pas fixer de plaquette d'assurage</li>
                            <li>- D’effectuer régulièrement un contrôle visuel (trous de vissage, fixations des inserts, état du
bois)
</li>
<li>- Nettoyage à sec uniquement avec une brosse (ne pas utiliser de brosse à poils métalliques).</li>
<li>- Les modules doivent uniquement être installés sur des structures artificielles d'escalade intérieures.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
