<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Propos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    dicjijcidjcidjcijdicdjcidjidjidj
                </div>
                <div class="col-sm-5">
                    <div class="team-member">
                        <p class="text-muted">Le bois : c'est un contreplaqué en bouleau de 18mm d'épaisseur, constitué de 13 plis. Je l'ai choisi pour ses très bonnes résistances mécaniques(voir page 1) ainsi que son essence (plus écologique que certains bois exotiques importés).</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
