<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vente de modules</h4>
                    <p class="text-muted">Astrucmodules vous propose une large gamme de modules en bois, habillés de différentes couleurs selon votre choix.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cr&eacute;ation de modules</h4>
                    <p class="text-muted">Vous souhaitez une forme particulière, un module qui suit les angles des facettes de votre mur ? C'est maintenant possible ! Après échange, je vous propose des plans en 3D sur un mur virtuel qui vous permettront de visualiser votre création. Vous n'aurez plus qu'à le valider pour lancer la production de votre module.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Livraison</h4>
                    <p class="text-muted">Astrucmodules vous propose un service de livraison dans toute la France et au-delà. Les frais de port sont calculés en fonction de la commande et de la distance.</p>
                </div>
            </div>
        </div>
    </section>
