<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Qui suis-je</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.name }}</h3>
                        <p class="text-muted">{{ member.position }}</p>
                        <p class="text-muted credit">Crédit photo : Romuald Goudeau</p>
                        <!--<ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul>-->
                    </div>
                </div>
                {% endfor %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <p class="text-muted">Grimpeur depuis 2003, je commence mes études au lycée en génie mécanique où j'apprends mes premières notions en résistance des matériaux. Je me tourne rapidement vers le bois et commence un CAP charpentier bois où j'obtiens un <a href="http://whysy.github.io/img/about/Diplome_honneur.jpg" target="_blank">diplôme d'honneur</a>.</p>
                        <p class="text-muted">Je passe ensuite un brevet profesionnel que j'obtiens en 2015 avec le <a href="http://whysy.github.io/img/about/meilleur_apprenti_BP_poitou_charente.jpg" target="_blank">diplôme de meilleur apprenti Poitou Charente</a>. En novembre 2015 je décide de créer Astrucmodules, vente et fabrication sur mesure de modules en bois. Les modules fabriqués doivent répondre aux normes, ils sont testés par le <a href="http://www.bureauveritas.fr/" target="_blank">bureau Veritas</a> qui délivre un <a href="http://whysy.github.io/img/about/veritas.pdf" target="_blank">rapport de vérification</a>.</p>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>-->
        </div>
    </section>
